.about {
    margin-top: 600px;
    margin-left: 20%;
    font-size: 14px;
    color: white;
  }

  .about p {
    font-size: 16px;
    color: white;
  }

  .orange-link {
    color: orange;
  }

  .orange-link:hover {
    color: red;
  }