.about {
    margin-top: 400px;
    margin-left: 20%;
    font-size: 18px;
    color: white;
  }

  .about p {
    font-size: 16px;
    color: white;
    opacity: 0.7;
  }

  .orange-link {
    color: orange;
  }

  .orange-link:hover {
    color: red;
  }