.contact {
    margin-top: 400px;
    margin-bottom: 400px;
    text-align: center;
    font-size: 18px;
    color: white;
  }

  .contact .button {
    text-decoration: none;
    background-color: #011824; /* Change to your preferred background color */
    color: #fff; /* Change to your preferred text color */
    border: 1px solid #fff;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .contact .button:hover {
    background-color: #f16f32;
  }


  