/* Header.css */
body {
  background-color: #011824;
}

.header {
  background-color: #011824;
  color: #fff;
  padding: 20px;
}

.nav {
  text-align: right; /* Right-align the navigation */
}

.nav-list {
  list-style: none;
  padding: 0;
}

.nav-item {
  display: inline;
  margin-left: 20px; /* Add margin between nav items */
}

.nav-item a {
  text-decoration: none;
  color: #fff;
  background-color: #011824;
  padding: 8px 16px;
  border: 1px solid #fff;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.nav-item a:hover {
  background-color: #f16f32;
}

.intro p, span {
  color: orange;
  margin-left: 5px;
  font-size: 16px;
}

.intro {
  padding: 20px;
  margin-top: 150px;
  margin-left: 16%;
}

.intro h1 {
  font-size: 80px;
  margin: 0px;
}

.intro .smaller-text {
  font-size: 55px;
  opacity: 0.6;
}

.intro .white-text {
  color: white;
  opacity: 0.6;
  margin-left: 3px;
}






/* Media query for screens smaller than 768px */
@media screen and (max-width: 768px) {
  .nav {
      text-align: center;
  }

  .nav-item {
      display: block;
      margin: 10px 0;
  }

  .intro h1 {
      font-size: 30px;
  }

  .intro .larger-text {
      font-size: 16px;
  }
}